node_modules/
npm-debug.log
.git
.gitlab-ci.yml
docker-compose.yml
.dockerignore
README.md
.env
.DS_Store
__pycache__
*.pyc
.pytest_cache
.venv
.venv-*
build/
dist/
*.egg-info/
.mypy_cache/
.ruff_cache/
